* {
    box-sizing: border-box;
}

body {
    background-color:#121212;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    color: white;
}

div {
    display: flex;
}
label {
    display: flex;
    width: 320px;
    align-items: center;
    
} 



/* div {
    display: block;
    border-radius: 20px;
    justify-content: space-between;
    background: #231f20;
    color: white;
    align-items: center;
    font-size: 16px;
    width: 320px;
 