* {
    box-sizing: border-box;
}


body {
    display: flex;
    background-color: #121212;
    height: 100vh;
    justify-content: center;
    align-items: center;
 

}
.todo-list {
    display: flex;

    flex-direction: column;
    align-items:center;
    width: 100%;
}


.todo-item {

    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: bottom;
    background-color: rgb(41, 43, 191);
    padding: 10px;
    margin: 5px 0;
     /* Adjust the width as per your requirement */
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
input[type="checkbox"]{
    display: visible
}

.checkbox-round{
    position: relative;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%; /* This creates the round shape */
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    cursor: pointer;
}

input[type="checkbox"]:checked + .checkbox-round {
    background-color: #4CAF50; /* Change color when checked */
}

.todo-text {
    flex-grow: 1;
    margin: 0 10px;
    color: white;
}

.edit-btn, .delete-btn {
    margin: 0 5px;
}


.custom-checkbox input[type="checkbox"]:checked + .checkbox-round::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}


/* div {
    display: block;
    border-radius: 20px;
    justify-content: space-between;
    background: #231f20;
    color: white;
    align-items: center;
    font-size: 16px;
    width: 320px;
 